@model FarmManager.Models.Vaca

@{
    ViewBag.Title = "PlanoCiclo";
}

<h2>Plano do Ciclo</h2>

<div>
    <h4>Gado</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            Data Prevista Inseminação
        </dt>

        <dd>
            @Html.Display(Model.DTPrevistaInseminacao(Convert.ToDateTime(Model.DTDesamamentacao)).ToString("dd/MM/yyyy"))
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Editar", "Edit", new { id = Model.NRBrinco }) |
    @Html.ActionLink("Voltar para lista de Gado", "Index")
</p>
