@{
    ViewBag.Title = "About";
}
<h2>@ViewBag.Title</h2>

<p>Este aplicativo foi desenvolvido pelos alunos de Engenharia de Software - UnB no primeiro semestre de 2016: </p>
<li>Ebenezer Andrade</li>
<li>Eduardo Moreira</li>
<li>Matheus Silva</li>
<li>Omar Silva</li>

<br />

<p>O código-fonte está disponível no link a seguir: <a href="https://github.com/EduardoMoreira/Desenho-UnB-2016-01">GitHub</a>  </p>