@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Farm Manager</h1>
</div>
<div class="row">
    <div class="col-md-4">
        <h2>Bem-Vindo ao Farm Manager</h2>
        <p>
            Farm Manager irá te ajudar a gerenciar sua fazenda.
        </p>
    </div>
</div>