@{
    ViewBag.Title = "Home Page";
}

<img id="logo_index" src="@Url.Content("~/Images/background_home.png")" class="img-responsive">

<div class="row">
    <div class="col-md-6">
        <h2>Bem-Vindo ao Farm Manager</h2>
        <p>
            Farm Manager irá te ajudar a gerenciar sua fazenda.
        </p>
    </div>
</div>
